@charset utf-8;

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden; /* 가로 스크롤링 생기는 것 방지 위함 */
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em; /* rem은 최상단 element, 즉, html에서 정해지는 폰트 사이즈에 상대적이고 em은 현재 스타일 지정 요소에서의 상대값이다. */
  background-color: #ffffff;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}
.global-nav {
  height: 44px;
}
.local-nav {
  height: 52px;
  border-bottom: 1px solid #dddddd;
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px; /* 최대 1000px, 1000px 이하에서는 화면 가득 채우게 하기 위함이다. */
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}
.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}
